* {
    margin: 0;
    padding: 0;
}

body {
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    background-color: lavenderblush;
}

.menu {
    list-style: none;
    border: 1px solid #c0c0c0;
    float: left;
    font-size: 18px;
    background-color: rgb(39, 138, 36);
}

.menu li {
    position: relative;
    float: left;
    border-right: 1px solid #c0c0c0;
}

.menu li a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

.menu li a:hover {
    background: #333;
    color: #fff;
    -moz-box-shadow: 0 3px 10px 0 #CCC;
    -webkit-box-shadow: 0 3px 10px 0 #ccc;
    text-shadow: 0px 0px 5px #fff;
}

img {
    border-radius: 8px;
    width: 150px;
    display: block;
    position: relative;
    float: left;
    border: transparent thin solid;
    padding: 5px;
    margin: 0px 10px 10px 0;
    max-width: 186px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

p {
    font-size: 20px;
    text-align: justify;
}

#paragrafoPagina {
    color: crimson;
    padding: 20px;
}

.flexContainer {
    display: flex;
    align-items: center;
}

.container {
    border: 1px solid black;
    margin: 0 2%;
    padding: 1%;
    background-color: rgb(39, 138, 36);
    margin-bottom: 12px;
}